<footer>
	<nav class="menu">
		<ul>
			{% comment %}<li class="sobre">Sobre<span class="d-none d-md-inline"> nós</span></li>{% endcomment %}
			<li class="contato">{% comment %} | {% endcomment %}<span class="d-none">Entre em </span>contato</li>
		</ul>
	</nav>
	<nav class="social">
		<a href="https://www.behance.net/parabolica730f" class="icone behance" target="_blank">{% include behance.svg %}</a>
		<a href="https://www.instagram.com/parabolica.design/" class="icone instagram" target="_blank">{% include instagram.svg %}</a>
		<a href="https://www.facebook.com/design.parabolica/" class="icone facebook" target="_blank">{% include facebook.svg %}</a>
	</nav>
	<section class="contato">
		<div class="conteudo">
			<span class="fechar">
				{% include fechar.svg %}
			</span>
			<div class="pb-container">
				<div class="row">
					<h1 class="col-20 offset-2 col-lg-9">Contato</h1>
				</div>
				<div class="row">
					<div class="info col-20 offset-2 col-lg-9">
						<p class="texto-medio">info@parabolica.design</p>
						<p class="texto-medio">Brasília | DF</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</footer>