<section id="galeria">
	<div class="pb-container">
		<div class="row categoria">
			<h2 class="col-24 col-lg-22 offset-lg-1">Identidade Visual</h2>
			<div class="col-24 col-lg-22 offset-lg-1 justify-content-between d-flex flex-wrap">
				{% for i in (1..5) %}
					<article class="thumb">
						<div class="content"></div>
					</article>
				{% endfor %}
				{% for i in (1..3) %}
					<article class="espaco"></article>
				{% endfor %}
			</div>
		</div>
		<div class="row categoria">
			<h2 class="col-24 col-lg-22 offset-lg-1">Design Digital</h2>
			<div class="col-24 col-lg-22 offset-lg-1 justify-content-between d-flex flex-wrap">
				{% for i in (1..4) %}
					<article class="thumb">
						<div class="content"></div>
					</article>
				{% endfor %}
				{% for i in (1..3) %}
					<article class="espaco"></article>
				{% endfor %}
			</div>
		</div>
		<div class="row categoria">
			<h2 class="col-24 col-lg-22 offset-lg-1">Motion Graphics</h2>
			<div class="col-24 col-lg-22 offset-lg-1 justify-content-between d-flex flex-wrap">
				{% for i in (1..3) %}
					<article class="thumb">
						<div class="content"></div>
					</article>
				{% endfor %}
				{% for i in (1..3) %}
					<article class="espaco"></article>
				{% endfor %}
			</div>
		</div>
		<div class="row categoria">
			<h2 class="col-24 col-lg-22 offset-lg-1">Audiovisual</h2>
			<div class="col-24 col-lg-22 offset-lg-1 justify-content-between d-flex flex-wrap">
				{% for i in (1..2) %}
					<article class="thumb">
						<div class="content"></div>
					</article>
				{% endfor %}
				{% for i in (1..3) %}
					<article class="espaco"></article>
				{% endfor %}
			</div>
		</div>
		<div class="row categoria">
			<h2 class="col-24 col-lg-22 offset-lg-1">Design Editorial</h2>
			<div class="col-24 col-lg-22 offset-lg-1 justify-content-between d-flex flex-wrap">
				{% for i in (1..3) %}
					<article class="thumb">
						<div class="content"></div>
					</article>
				{% endfor %}
				{% for i in (1..3) %}
					<article class="espaco"></article>
				{% endfor %}
			</div>
		</div>
		<div class="row categoria">
			<h2 class="col-24 col-lg-22 offset-lg-1">Ilustração</h2>
			<div class="col-24 col-lg-22 offset-lg-1 justify-content-between d-flex flex-wrap">
				{% for i in (1..5) %}
					<article class="thumb">
						<div class="content"></div>
					</article>
				{% endfor %}
				{% for i in (1..3) %}
					<article class="espaco"></article>
				{% endfor %}
			</div>
		</div>
		<div class="row categoria">
			<h2 class="col-24 col-lg-22 offset-lg-1">Tipografia</h2>
			<div class="col-24 col-lg-22 offset-lg-1 justify-content-between d-flex flex-wrap">
				{% for i in (1..2) %}
					<article class="thumb">
						<div class="content"></div>
					</article>
				{% endfor %}
				{% for i in (1..3) %}
					<article class="espaco"></article>
				{% endfor %}
			</div>
		</div>
	</div>
</section>