<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<link rel="stylesheet" href="{{ '/css/bootstrap.css' | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ '/css/jquery.fullPage.css' | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300" rel="stylesheet">
	<link rel="stylesheet" href="https://use.typekit.net/lcv0mit.css">

	<script type="text/javascript" src="{{ '/js/jquery.min.js' | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ '/js/popper.min.js' | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ '/js/bootstrap.js' | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ '/js/scrolloverflow.js' | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ '/js/jquery.fullpage.js' | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ '/js/sly.js' | prepend: site.baseurl }}"></script>

</head>
