<section class="projetos section" data-anchor="projetos" onmousemove="showControls(event, this);">

	<nav id="categorias" class="">
		<ul>
			<li class="categoria" id="para-identidade">Identidade<span class="d-none d-lg-inline"> Visual</span></li>
			<li class="categoria" id="para-digital"><span class="d-none d-lg-inline">Design </span>Digital</li>
			<li class="categoria" id="para-motion">Motion<span class="d-none d-lg-inline"> Graphics</span></li>
			<li class="categoria" id="para-audiovisual">Audiovisual</li>
			<li class="categoria" id="para-editorial"><span class="d-none d-lg-inline">Design </span>Editorial</li>
			<li class="categoria" id="para-ilustracao">Ilustração</li>
			<li class="categoria" id="para-tipografia">Tipografia</li>
		</ul>
		{% comment %}<div class="anterior d-lg-none"></div>
		<div class="proxima d-lg-none"></div>{% endcomment %}
	</nav>

	<nav class="d-none d-md-block" id="info">
		<span>i</span>
		<article class="resumo">
			<h2 class="h4">Lanp</h2>
			<p>LANP stands for “Academic Pediatrics League of the University of Brasília, and it is formed by students only. They are curious about Pediatrics and want to build a better formation for themselves. The Brand is inspired by the idea of Formation and transmits values of Passion, Learning, Empathy and Engagement.</p>
			<p>The brand’s main asset is its mascot, “Lanpito”. He forms the main symbol, interacting with objects and the audience. He plays, amuses himself, explains or discovers new things all the time.</p>
			<p>The visual system balances simplicity with creativity, influences of the child’s world with academical seriousness. It was developed after several sketches, iterations and experiments, and remains open for addition of new assets like new icons or Lanpito’s interactions.</p>
		</article>
	</nav>

	<nav class="d-block d-lg-none" id="info-mobile">
		<div class="pb-container">
			<header class="row">
				<div class="offset-2 col-20">
					<h2 class="h6">Lanp</h2>
					<code>info</code>
				</div>
			</header>
			<article class="row">
				<div class="offset-2 col-20">
					<p>LANP stands for “Academic Pediatrics League of the University of Brasília, and it is formed by students only. They are curious about Pediatrics and want to build a better formation for themselves. The Brand is inspired by the idea of Formation and transmits values of Passion, Learning, Empathy and Engagement.</p>
					<p>The brand’s main asset is its mascot, “Lanpito”. He forms the main symbol, interacting with objects and the audience. He plays, amuses himself, explains or discovers new things all the time.</p>
					<p>The visual system balances simplicity with creativity, influences of the child’s world with academical seriousness. It was developed after several sketches, iterations and experiments, and remains open for addition of new assets like new icons or Lanpito’s interactions.</p>
				</div>
			</article>
		</div>
	</nav>

	<div class="botao" id="menu-mobile">{% include galeria.svg %}</div>

	<div class="prev-slide hidden">{% include seta-pequena.svg %}</div>
	<div class="next-slide">{% include seta-pequena.svg %}</div>

	<div class="slide capa" data-anchor="lanp" data-category="identidade">
		<div class="conteudo">
			<div class="img" style="background-image: url('{{ site.baseurl }}{{ site.assets }}/placeholder_2.jpg')">
				<p class="categoria"><span>Identidade Visual</span></p>
				<h1><span>Liga Acadêmica <br>Nóbrega de Pediatria</span></h1>
			</div>
		</div>
	</div>
	<div class="slide dois" data-anchor="lanp/1" data-category="identidade">
		<div class="conteudo">
			<div class="img" style="background-image: url('{{ site.baseurl }}{{ site.assets }}/placeholder.jpg')"></div>
		</div>
	</div>
	<div class="slide tres" data-anchor="lanp/2" data-category="identidade">
		<div class="conteudo">
			<div class="img" style="background-image: url('{{ site.baseurl }}{{ site.assets }}/placeholder_2.jpg')"></div>
		</div>
	</div>

	<div class="slide capa" data-anchor="pomb" data-category="digital">
		<div class="conteudo">
			<div class="img" style="background-image: url('{{ site.baseurl }}{{ site.assets }}/placeholder_2.jpg')">
				<p class="categoria">Design Digital</p>
				<h1>Pomb</h1>
			</div>
		</div>
	</div>
	<div class="slide dois" data-anchor="pomb/1" data-category="digital">
		<div class="conteudo">
			<div class="img" style="background-image: url('{{ site.baseurl }}{{ site.assets }}/placeholder.jpg')"></div>
		</div>
	</div>
	<div class="slide tres" data-anchor="pomb/2" data-category="digital">
		<div class="conteudo">
			<div class="img" style="background-image: url('{{ site.baseurl }}{{ site.assets }}/placeholder_2.jpg')"></div>
		</div>
	</div>

	<div class="slide capa" data-anchor="a-casa" data-category="motion">
		<div class="conteudo">
			<div class="img" style="background-image: url('{{ site.baseurl }}{{ site.assets }}/placeholder_2.jpg')">
				<p class="categoria">Motion Graphics</p>
				<h1>A Casa</h1>
			</div>
		</div>
	</div>
	<div class="slide dois" data-anchor="a-casa/1" data-category="motion">
		<div class="conteudo">
			<div class="img" style="background-image: url('{{ site.baseurl }}{{ site.assets }}/placeholder.jpg')"></div>
		</div>
	</div>
	<div class="slide tres" data-anchor="a-casa/2" data-category="motion">
		<div class="conteudo">
			<div class="img" style="background-image: url('{{ site.baseurl }}{{ site.assets }}/placeholder_2.jpg')"></div>
		</div>
	</div>

	<div class="slide capa" data-anchor="mr-brownie" data-category="audiovisual">
		<div class="conteudo">
			<div class="img" style="background-image: url('{{ site.baseurl }}{{ site.assets }}/placeholder_2.jpg')">
				<p class="categoria">Audiovisual</p>
				<h1>Mr. Brownie</h1>
			</div>
		</div>
	</div>
	<div class="slide dois" data-anchor="mr-brownie/1" data-category="audiovisual">
		<div class="conteudo">
			<div class="img" style="background-image: url('{{ site.baseurl }}{{ site.assets }}/placeholder.jpg')"></div>
		</div>
	</div>
	<div class="slide tres" data-anchor="mr-brownie/2" data-category="audiovisual">
		<div class="conteudo">
			<div class="img" style="background-image: url('{{ site.baseurl }}{{ site.assets }}/placeholder_2.jpg')"></div>
		</div>
	</div>

	<div class="slide capa" data-anchor="redes" data-category="editorial">
		<div class="conteudo">
			<div class="img" style="background-image: url('{{ site.baseurl }}{{ site.assets }}/placeholder_2.jpg')">
				<p class="categoria">Design Editorial</p>
				<h1>Revista Redes</h1>
			</div>
		</div>
	</div>
	<div class="slide dois" data-anchor="redes/1" data-category="editorial">
		<div class="conteudo">
			<div class="img" style="background-image: url('{{ site.baseurl }}{{ site.assets }}/placeholder.jpg')"></div>
		</div>
	</div>
	<div class="slide tres" data-anchor="redes/2" data-category="editorial">
		<div class="conteudo">
			<div class="img" style="background-image: url('{{ site.baseurl }}{{ site.assets }}/placeholder_2.jpg')"></div>
		</div>
	</div>

	<div class="slide capa" data-anchor="gg12" data-category="ilustracao">
		<div class="conteudo">
			<div class="img" style="background-image: url('{{ site.baseurl }}{{ site.assets }}/placeholder_2.jpg')">
				<p class="categoria">Ilustração</p>
				<h1>Escola de Basquete Guilherme Giovannoni 12</h1>
			</div>
		</div>
	</div>
	<div class="slide dois" data-anchor="gg12/1" data-category="ilustracao">
		<div class="conteudo">
			<div class="img" style="background-image: url('{{ site.baseurl }}{{ site.assets }}/placeholder.jpg')"></div>
		</div>
	</div>
	<div class="slide tres" data-anchor="gg12/2" data-category="ilustracao">
		<div class="conteudo">
			<div class="img" style="background-image: url('{{ site.baseurl }}{{ site.assets }}/placeholder_2.jpg')"></div>
		</div>
	</div>

	<div class="slide capa" data-anchor="cachalotes" data-category="tipografia">
		<div class="conteudo">
			<div class="img" style="background-image: url('{{ site.baseurl }}{{ site.assets }}/placeholder_2.jpg')">
				<p class="categoria">Tipografia</p>
				<h1>Cachalotes</h1>
			</div>
		</div>
	</div>
	<div class="slide dois" data-anchor="cachalotes/1" data-category="tipografia">
		<div class="conteudo">
			<div class="img" style="background-image: url('{{ site.baseurl }}{{ site.assets }}/placeholder.jpg')"></div>
		</div>
	</div>
	<div class="slide capa" data-anchor="cachalotes/1" data-category="tipografia">
		<div class="conteudo">
			<div class="img" style="background-image: url('{{ site.baseurl }}{{ site.assets }}/placeholder_2.jpg')"></div>
		</div>
	</div>
</section>