<section class="projetos section" data-anchor="projetos">
	<nav class="categorias" id="frame">
		<ul>
			<li class="categoria">Identidade Visual</li>
			<li class="categoria">Design Digital</li>
			<li class="categoria">Motion Graphics</li>
			<li class="categoria">Audiovisual</li>
			<li class="categoria">Design Editorial</li>
			<li class="categoria">Ilustração</li>
			<li class="categoria">Tipografia</li>
		</ul>
		<div class="anterior d-lg-none"></div>
		<div class="proxima d-lg-none"></div>
	</nav>
	<nav class="info d-none d-md-block">
		<span>i</span>
		<article class="resumo">
			<h2>Lanp</h2>
			<p>LANP stands for “Academic Pediatrics League of the University of Brasília, and it is formed by students only. They are curious about Pediatrics and want to build a better formation for themselves. The Brand is inspired by the idea of Formation and transmits values of Passion, Learning, Empathy and Engagement.</p>
			<p>The brand’s main asset is its mascot, “Lanpito”. He forms the main symbol, interacting with objects and the audience. He plays, amuses himself, explains or discovers new things all the time.</p>
			<p>The visual system balances simplicity with creativity, influences of the child’s world with academical seriousness. It was developed after several sketches, iterations and experiments, and remains open for addition of new assets like new icons or Lanpito’s interactions.</p>
		</article>
	</nav>
	<div class="slide capa" data-anchor="lanp">
		<div class="conteudo">
			<p class="categoria">Identidade Visual</p>
			<h1>Liga Acadêmica <br>Nóbrega de Pediatria</h1>
		</div>
	</div>
	<div class="slide dois" data-anchor="lanp/1">
		<div class="conteudo">
		</div>
	</div>
	<div class="slide tres" data-anchor="lanp/2">
		<div class="conteudo">
		</div>
	</div>
	<div class="slide capa" data-anchor="gg12">
		<div class="conteudo">
			<p class="categoria">Ilustração</p>
			<h1>Escola de Basquete Guilherme Giovannoni 12</h1>
		</div>
	</div>
	<div class="slide dois" data-anchor="gg12/1">
		<div class="conteudo">
		</div>
	</div>
	<div class="slide tres" data-anchor="gg12/2">
		<div class="conteudo">
		</div>
	</div>
</section>