<section class="projetos">
	<nav class="categorias">
		<ul>
			<li>Identidade Visual</li>
			<li>Design Digital</li>
			<li>Motion Graphics</li>
			<li>Audiovisual</li>
			<li>Design Editorial</li>
			<li>Ilustração</li>
			<li>Tipografia</li>
		</ul>
	</nav>
	<div class="conteudo">
		<nav class="info">
			<span>i</span>
			<article class="resumo">
				<h2>Lanp</h2>
				<p>LANP stands for “Academic Pediatrics League of the University of Brasília, and it is formed by students only. They are curious about Pediatrics and want to build a better formation for themselves. The Brand is inspired by the idea of Formation and transmits values of Passion, Learning, Empathy and Engagement.</p>
				<p>The brand’s main asset is its mascot, “Lanpito”. He forms the main symbol, interacting with objects and the audience. He plays, amuses himself, explains or discovers new things all the time.</p>
				<p>The visual system balances simplicity with creativity, influences of the child’s world with academical seriousness. It was developed after several sketches, iterations and experiments, and remains open for addition of new assets like new icons or Lanpito’s interactions.</p>
			</article>
		</nav>
		<div class="projeto">
			<h1>Liga Acadâmica <br>Nóbrega de Pediatria</h1>
		</div>
	</div>
</section>