<script type="text/javascript">

	$('footer li.contato').click(function(){
		$('footer').toggleClass('contato');
	})

	$('footer section.contato .fechar').click(function(){
		$('footer').removeClass('contato');
	})

</script>

<script type="text/javascript">

	$(document).ready(function() {

		var pageCount = $('section.projetos > .slide').length;

		fullpageInit();

		function fullpageInit(){
			$('#fullpage').fullpage({
				slideSelector: '.slide',
				controlArrows: false,
				verticalCentered: false,
				loopHorizontal: false,
				normalScrollElements: '#categorias, #info',
				animateAnchor: false,
				scrollingSpeed: 400,
				afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex) {
					if($('.fp-section.active').find('.fp-slide.active').data("category") == "identidade") {
						sly.activate(0, false)						
					} else if ($('.fp-section.active').find('.fp-slide.active').data("category") == "digital") {
						sly.activate(1, false)
					} else if ($('.fp-section.active').find('.fp-slide.active').data("category") == "motion") {
						sly.activate(2, false)						
					} else if ($('.fp-section.active').find('.fp-slide.active').data("category") == "audiovisual") {
						sly.activate(3, false)						
					} else if ($('.fp-section.active').find('.fp-slide.active').data("category") == "editorial") {
						sly.activate(4, false)						
					} else if ($('.fp-section.active').find('.fp-slide.active').data("category") == "ilustracao") {
						sly.activate(5, false)						
					} else if ($('.fp-section.active').find('.fp-slide.active').data("category") == "tipografia") {
						sly.activate(6, false)						
					}
					if (slideIndex == 0 && !($('.projetos .prev-slide').hasClass('hidden'))) {
						$('.projetos .prev-slide').addClass('hidden');
					} else if (slideIndex > 0)  {
						$('.projetos .prev-slide').removeClass('hidden');
					}
					if (slideIndex == (pageCount - 1) && !($('.projetos .next-slide').hasClass('hidden'))) {
						$('.projetos .next-slide').addClass('hidden');
					} else {
						$('.projetos .next-slide').removeClass('hidden');
					}
				},
				afterLoad: function(anchorLink, index){
					
				},
				onLeave: function(index, nextIndex, direction){
				}
			});
		};
	});

	var i = null;

	function showControls(event, element) {
	    clearTimeout(i);
	    element.classList.remove('standby');
	    i = setTimeout(function () {
	        element.classList.add('standby');
	    }, 2500);
	}

	function hideControls(event, element) {
	    clearTimeout(i);
	    element.classList.add('standby');
	};

	$('.prev-slide').click(function(){
		$.fn.fullpage.moveSlideLeft();
	});

	$('.next-slide').click(function(){
		$.fn.fullpage.moveSlideRight();
	});

	$('.next-section').click(function(){
		$.fn.fullpage.moveSectionDown();
	});

	$('#para-identidade').click(function(){
		$.fn.fullpage.moveTo('projetos', 'lanp');
	});

	$('#para-digital').click(function(){
		$.fn.fullpage.moveTo('projetos', 'pomb');
	})

	$('#para-motion').click(function(){
		$.fn.fullpage.moveTo('projetos', 'a-casa');
	});

	$('#para-audiovisual').click(function(){
		$.fn.fullpage.moveTo('projetos', 'mr-brownie');
	})

	$('#para-editorial').click(function(){
		$.fn.fullpage.moveTo('projetos', 'redes');
	});

	$('#para-ilustracao').click(function(){
		$.fn.fullpage.moveTo('projetos', 'gg12');
	})

	$('#para-tipografia').click(function(){
		$.fn.fullpage.moveTo('projetos', 'cachalotes');
	});

</script>

<script type="text/javascript">

	var options = {
		horizontal: 1,
		itemNav: 'centered',
		smart: 1,
		activateOn: 'click',
		mouseDragging: 1,
		touchDragging: 1,
		startAt: 0,
		scrollBy: 0,
		speed: 400,
		elasticBounds: 1
	};

	var sly = new Sly('#categorias', options, {}).init();

</script>