<script type="text/javascript">

	$('footer li.contato').click(function(){
		$('footer').toggleClass('contato');
	})

	$('footer section.contato .fechar').click(function(){
		$('footer').removeClass('contato');
	})

</script>

<script type="text/javascript">

	$(document).ready(function() {

		fullpageInit();

		function fullpageInit(){
			$('#fullpage').fullpage({
				slideSelector: '.slide',
				controlArrows: false,
				verticalCentered: false,
				loopHorizontal: false,
				normalScrollElements: '#categorias, #info',
				animateAnchor: false,
				afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex) {
					if($('.fp-section.active').find('.fp-slide.active').data("category") == "identidade") {
						sly.activate(0, false)						
					} else if ($('.fp-section.active').find('.fp-slide.active').data("category") == "digital") {
						sly.activate(1, false)
					} else if ($('.fp-section.active').find('.fp-slide.active').data("category") == "motion") {
						sly.activate(2, false)						
					} else if ($('.fp-section.active').find('.fp-slide.active').data("category") == "audiovisual") {
						sly.activate(3, false)						
					} else if ($('.fp-section.active').find('.fp-slide.active').data("category") == "editorial") {
						sly.activate(4, false)						
					} else if ($('.fp-section.active').find('.fp-slide.active').data("category") == "ilustracao") {
						sly.activate(5, false)						
					} else if ($('.fp-section.active').find('.fp-slide.active').data("category") == "tipografia") {
						sly.activate(6, false)						
					}
				},
				afterLoad: function(anchorLink, index){
				},
				onLeave: function(index, nextIndex, direction){
				}
			});
		};
	});

	$('#para-identidade').click(function(){
		$.fn.fullpage.moveTo('projetos', 'lanp');
	});

	$('#para-digital').click(function(){
		$.fn.fullpage.moveTo('projetos', 'pomb');
	})

	$('#para-motion').click(function(){
		$.fn.fullpage.moveTo('projetos', 'a-casa');
	});

	$('#para-audiovisual').click(function(){
		$.fn.fullpage.moveTo('projetos', 'mr-brownie');
	})

	$('#para-editorial').click(function(){
		$.fn.fullpage.moveTo('projetos', 'redes');
	});

	$('#para-ilustracao').click(function(){
		$.fn.fullpage.moveTo('projetos', 'gg12');
	})

	$('#para-tipografia').click(function(){
		$.fn.fullpage.moveTo('projetos', 'cachalotes');
	});

</script>

<script type="text/javascript">

	var options = {
		horizontal: 1,
		itemNav: 'centered',
		smart: 1,
		activateOn: 'click',
		mouseDragging: 1,
		touchDragging: 1,
		startAt: 0,
		scrollBy: 0,
		speed: 300,
		elasticBounds: 1
	};

	var sly = new Sly('#categorias', options, {}).init();

</script>