html, body {
  background-color: $preto;
  position: relative;
  height: 100%;
}

body {
	main {
		.seta-grande {
			width: 24px;
			height: 48px;
			overflow: visible;
			polyline {
				fill: none;
				stroke: $branco;
				stroke-width: 2px;
			}
		}
		.seta-pequena {
			width: 8px;
			height: 16px;
			overflow: visible;
			@include media-breakpoint-up(md) {
				width: 12px;
				height: 24px;
			}
			polyline {
				fill: none;
				stroke: $branco;
				stroke-width: 2px;
			}
		}
		height: 100%;
		.fp-scroller {
			height: 100%;
		}
		.home {
			background-color: $indigo;
			height: calc(100% - 72px);
			.row {
				height: 100%;
			}
			.logo {
				position: absolute;
				height: 24px;
				top: 24px;
				left: 24px;
				@include media-breakpoint-up(md) {
					height: 36px;
					top: 48px;
					left: 48px;
				}
				@include media-breakpoint-up(lg) {
					height: 48px;
				}
				@include media-breakpoint-up(xl) {
					height: 72px;
					top: 72px;
					left: 72px;
				}
				svg {
					height: 100%;
				}
			}
			.proxima {
				position: absolute;
				bottom: 120px;
				left: 60px;
				transform: rotate(90deg);
				cursor: pointer;
				opacity: .75;
				transition: opacity .25s ease;
				&:hover {
					opacity: 1;
				}
			}
		}

		.projetos {
			height: 100%;
			//padding-bottom: 72px;
			//padding-top: 72px;
			display: flex;
			flex-flow: column nowrap;
			@include media-breakpoint-up(lg) {
				&.standby {
					.next-slide, .prev-slide {
						opacity: 0.15;
					}
				}
			}

			#categorias {
				border-bottom: 1px solid $branco;
				height: 72px;
				text-align: center;
				position: absolute;
			    top: 0;
			    width: calc(100% - 48px);
			    background-color: $preto;
			    z-index: 2;
				@include media-breakpoint-up(md) {
					padding-left: 48px;
					padding-right: 48px;
				}
				@include media-breakpoint-up(lg) {
					width: 100%;
					height: 72px;
					padding-left: 0;
					padding-right: 0;
				}
				.anterior, .proxima {
					height: 72px;
					position: absolute;
					top: 0;
					width: 20px;
					background-color: $preto;
					border-bottom: 1px solid $branco;
					@include media-breakpoint-up(md) {
						width: 48px;
					}
				}
				.anterior {
					left: 0;
					border-right: 1px solid rgba($branco, .5);
				}
				.proxima {
					right: 0;
					border-left: 1px solid rgba($branco, .5);
				}
				ul {
					display: inline-flex;
					flex-wrap: wrap;
				}
				li, li span {
					white-space: pre;
					color: rgba($branco, .5);
					cursor: pointer;
				}
				li {
					font-family: 'Source Code Pro', monospace;
					font-size: 14px;
					text-transform: uppercase;
					letter-spacing: 1px;
					display: inline-flex;
					line-height: 72px;
					padding-left: 24px;
					padding-right: 24px;
					background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 80%, #fff 80%);
					background-position: left;
					background-size: 1px 5px;
					background-repeat: repeat-y;
					@include media-breakpoint-up(lg) {
						line-height: 72px;
					}
					&.active, &.active span {
						color: rgba($branco, 1);
						font-weight: 900;
					}
					&:first-child {
						background-image: none;
					}
				}
			}

			.next-slide, .prev-slide {
				position: absolute;
				bottom: 50%;
				cursor: pointer;
				transition: opacity .15s ease;
				z-index: 2;
				width: 36px;
				height: 36px;
				background-color: $preto;
				opacity: .35;
				transform: translateY(-50%);
				@include media-breakpoint-up(md) {
					width: 72px;
					height: 72px;
				}
				@include media-breakpoint-up(lg) {
					opacity: 1;
					bottom: 72px;
					transform: translateY(0);
				}
    			svg {
					fill: none;
					stroke: $branco;
					position: absolute;
				    top: 12px;
				    left: 15px;
				    @include media-breakpoint-up(md) {
				    	top: 24px;
				    	left: 30px;
				    }
				}
				&.hidden {
					opacity: 0;
					pointer-events: none;
				}
			}
			.next-slide {
				right: 0px;
			}
			.prev-slide {
				left: 0;
				@include media-breakpoint-up(lg) {
					left: 48px;
				}
				svg {
					transform: rotate(180deg);
					transform-origin: center;
				}
			}

			#info-mobile {
				height: 72px;
				width: 100%;
				//padding-right: 72px;
				position: absolute;
				bottom: 72px;
				left: 0;
				background-color: rgba($preto, .9);
				transition: height .25s ease;
				overflow: hidden;
				//border-top: 1px solid $branco;
				z-index: 3;
				code {
					position: absolute;
					top: 0;
					right: 0;
					line-height: 72px;
				}
				p:last-child {
					margin-bottom: 24px;
				}
				&.aberto {
					height: calc(100% - 144px);
					overflow: scroll;
				}
				h2 {
					line-height: 72px;
					margin-bottom: 0;
				}
			}

			#menu-mobile {
				width: 72px;
				height: 72px;
				border-left: 1px solid $branco;
				border-bottom: 1px solid $branco;
				position: absolute;
				top: 0;
				right: 0;
				z-index: 4;
				background-color: $preto;
				.galeria {
					width: 48px;
					height: 48px;
					position: absolute;
					top: 12px;
					left: 12px;
					line {
						stroke-width: 2px;
						stroke: $branco;
					}
				}
			}

			#info {
				width: 100% / 24 * 8;
				transform: translateX(calc(-100% + 48px));
				border-right: 1px solid $branco;
				transition: transform .25s ease;
				position: absolute;
				background-color: $preto;
				height: calc(100% - 144px);
				z-index: 3;
				top: 72px;
				&:hover {
					transform: translateX(0);
					.resumo {
						opacity: 1;
						transition: opacity .25s ease .25s;
						overflow: scroll;
					}
					span {
						opacity: 0;
						transition: opacity .25s ease;
					}
				}
				span {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					display: block;
					text-align: center;
					width: 48px;
					color: $branco;
					font-family: 'Source Code Pro', monospace;
					font-size: 36px;
					line-height: 48px;
					font-weight: 200;
					transition: opacity .25s ease .25s;
				}
				.resumo {
					margin-left: 100% / 8 * 5;
					margin-left: 100% / 8 * 1;
					margin-right: 100% / 8 * 1;
					height: 100%;
					overflow: hidden;
					opacity: 0;
					transition: opacity .1s ease;
					h2 {
						margin-top: 48px;
						margin-bottom: 48px;
					}
				}
			}
			.slide {
				&.capa {
					h1 {
						margin-left: 100% / 24 * 2;						
					}
					.categoria {
						margin-left: 100% / 24 * 2;
						font-family: 'Source Code Pro', monospace;
						text-transform: uppercase;
						letter-spacing: 2px;
						font-weight: 300;
						font-size: 24px;
						line-height: 36px;
						margin-bottom: 24px;
					}
				}
				&.dois {
					.conteudo {
						//background-color: $indigo;
					}
				}
				&.tres {
					.conteudo {
						//background-color: $branco;
					}
				}
				.conteudo {
					height: 100%;
					padding-top: 72px;
					padding-bottom: 144px;
					display: flex;
				    flex-flow: column wrap;
				    align-content: stretch;
				    justify-content: center;
				    align-items: flex-start;
					@include media-breakpoint-down(md) {
						.categoria, h1 {
					    	display: none;
					    }
					}
					@include media-breakpoint-up(lg) {
						padding-top: 72px;
						padding-bottom: 72px;
					}
					.img {
						background-position: top;
					    background-size: cover;
					    padding-bottom: 66.666%;
					    height: 0;
					    width: 100%;
					    background-repeat: no-repeat;
					    @include media-breakpoint-up(lg) {
					    	 padding-bottom: 0;
					    	 height: 100%;
					    	 display: flex;
						    flex-flow: column wrap;
						    align-content: stretch;
						    justify-content: center;
						    align-items: flex-start;
					    }
					}
				}
			}
		}
	}

	footer {
		width: 100%;
		background-color: $indigo;
		border-top: 2px solid $branco;
		height: 72px;
		position: fixed;
		bottom: 0;
		transition: all .4s ease;
		&.contato {
			height: 100%;
			section.contato {
				height: calc(100% - 70px);
				.conteudo {
					opacity: 1;
					transition: opacity .1s ease .4s;
				}
			}
		}
		.menu {
			position: absolute;
			left: 24px;
			bottom: 0;
			@include media-breakpoint-up(md) {
				left: 48px;
			}
			@include media-breakpoint-up(xl) {
				left: 72px;
			}
			li {
				font-family: 'Source Code Pro', monospace;
				white-space: pre;
				font-size: 14px;
				text-transform: uppercase;
				letter-spacing: 1px;
				word-spacing: 1px;
				display: inline-flex;
				line-height: 72px;
				cursor: pointer;
			}
		}
		.social {
			position: absolute;
			right: 24px;
			bottom: 24px;
			display: flex;
			flex-flow: row nowrap;
			@include media-breakpoint-up(md) {
				right: 48px;
			}
			@include media-breakpoint-up(xl) {
				right: 72px;
			}
			.icone {
				display: flex;
				align-items: center;
				fill: $branco;
				height: 24px;
				margin-right: 24px;
				&:last-child {
					margin-right: 0;
				}
				svg {
					height: 24px;
					width: auto;
					display: block;
				}
				&.behance {
					svg {
						height: 20px;
					}
				}
			}
		}
		section.contato {
			transition: all .4s ease .1s;
			width: 100%;
			height: 0;
			position: absolute;
			bottom: 72px;
			background-color: $indigo;
			overflow: hidden;
			.conteudo {
				opacity: 0;
				transition: opacity .1s ease;
			}
			.fechar {
				width: 36px;
				position: absolute;
				top: 24px;
				left: 24px;
				cursor: pointer;
				@include media-breakpoint-up(md) {
					top: 48px;
					left: 48px;
				}
				@include media-breakpoint-up(xl) {
					top: 72px;
					left: 72px;
				}
			}
			h1 {
				margin-top: 120px;
			}
		}
	}
}

#grid {
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	&.show {
		.column {
			opacity: 1;
		}
	}
	.column:nth-child(2n+1) {
		div {
			background-color: rgba(#ff0000, .15);
		}
	}
	.column {
		opacity: 0;
		transition: opacity .15s linear;
		div {
			height: 100vh;
		}
	}
	.botao {
		width: 20px;
		height: 20px;
		background-color: rgba(#ff0000, .15);
		position: fixed;
		bottom: 0px;
		left: 0px;
		transition: all .25s ease;
		&:hover {
			@include media-breakpoint-up(lg) {
				width: 40px;
				height: 40px;
			}
		}
		a {
			width: 100%;
			height: 100%;
			pointer-events: all;
			display: block;
			text-align: center;
		}
	}
}